*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
background:#0b0b0b;
color:white;
font-family:Arial, Helvetica, sans-serif;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

:root{
--bg:#0b0b0b;
--text:#ffffff;
--card:#111;
--border:#222;
}

.light{
--bg:#ffffff;
--text:#000000;
--card:#f5f5f5;
--border:#ddd;
}

body{
background:var(--bg);
color:var(--text);
}